* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: 'Raleway', sans-serif;
  line-height: 1.8;
}
 a {
   text-decoration: none;
   color: black;
 } 
 a:hover {
   border-bottom: 1px solid black;
 }

 ul {
   list-style: none;;
 }


  
.container {
  /* width: 100%; */
  max-width: 1200px;
  min-height: 100vh;
  
  margin: auto;
  background: linear-gradient(90deg, #f0f0f0 1px, transparent 2px) -1px 0, transparent;
  background-size: calc(100%/6) 100%;
}
  
/* Navbar */
nav {
  padding: 2rem 1rem;
  
}

.top-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.top-nav > div {
  /* padding: 0.5rem;
  align-self: center; */
  flex-basis: calc(100%/3);
}



.menu {
  display: flex;
  /* overflow: hidden; */
  margin-top: 1rem;
  margin-bottom: 3rem;
  
}
.hide-menu {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.4s ease-out, max-height 0.7s 0.4s ease-out;
  
}
.show-menu {
  opacity: 1;
  max-height: 600px;
  transition: opacity 0.5s 0.7s ease-in, max-height 0.7s  ease-out;
}
  
.menu .menu-nav {
  width: calc(100%/6);
  
}
.menu-title {
  margin-bottom: 1.5rem;
}
.tags-nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  max-height: 100%;
 
}
.tags-nav li {
  width: 100%;
  padding-left: 1rem;
}



.disabled {
  color: #ccc;
}
a.disabled:hover {
  border:none;
}

.showcase {
  
  padding: 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
}
.showcase > h3 {
  
  width: calc(100%/3);
}
.showcase > p {
  width: calc(100% - (100%/3));
}





section.articles {
  display: flex;
  flex-wrap: wrap;
}

article.card {
padding: 5px;
width: 33%;
}
.card-title {
  display: none;
}

.card-image img  {
  width: 100%;
}
