* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: 'Raleway', sans-serif;
  line-height: 1.8;
}
 a {
   text-decoration: none;
   color: black;
 } 
 a:hover {
   text-decoration: underline;
 }

 ul {
   list-style: none;;
 }


  
.container {
  
  max-width: 1400px;
  min-height: 100vh;
  /* height: 4000px; */
  
  margin: auto;
  background: linear-gradient(90deg, #f0f0f0 1px, transparent 2px) -1px 0, transparent;
  background-size: calc(100%/6) 100%;
}
  
/* Navbar */
nav {
  padding: 2rem 1rem;
  
}

.top-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.top-nav > div {
  /* padding: 0.5rem;
  align-self: center; */
  flex-basis: calc(100%/3);
}
.top-nav .hamburger-menu {
text-align: right;
display: none;
}
.top-nav .hamburger-menu a:hover {
  border: none;
  }

.top-nav .hamburger-menu i {
  font-size: 2rem;
}



.menu {
  display: flex;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 3rem;
  
}
.hide-menu {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.4s ease-out, max-height 0.7s 0.4s ease-out;
  
}
.show-menu {
  opacity: 1;
  max-height: 600px;
  transition: opacity 0.5s 0.7s ease-in, max-height 0.7s  ease-out;
}
  
.menu .menu-nav {
  width: calc(100%/6);
  
}
.menu-title {
  margin-bottom: 1.5rem;
}
.tags-nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  max-height: 100%;
 
}
.tags-nav li {
  width: 100%;
  padding-left: 1rem;
}



.disabled {
  color: #ccc;
}
a.disabled:hover {
  text-decoration: none;
}

.showcase {
  
  padding: 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 4rem;
  
}
.showcase .menu-title {
  
  width: calc(100%/3);
}
.showcase .showcase-content {
  width: calc(100% - (100%/3));
}





.articles {
  /* width: 100%; */
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* min-height: 1000px; */
  max-height: 2800px;
  align-content: flex-start;
}

.articles  .card {
padding: 5px 10px;
width: calc(100% / 3);
position: relative;
overflow: hidden;
}

.card-image .image-wrap {
  position: relative;
  
  width: 100%;
}
.card-image .image-wrap .photo  {
  width: 100%;
  filter: grayscale(1);
  transition: filter 0s;
  
}
  
.card-image .image-wrap::after {
  content: "";
  overflow: hidden;
  position: absolute;
  top:0;
  left: 0;
  background: rgba(245, 245, 245, 0.8);
  opacity: 0;
  width: 100%;
  height: 7vw;
  transition: opacity 0s;
  
}
.card-title {
  padding: 5px ;
  position: absolute; 
  top: 3%;
  z-index: 2;
  opacity: 0;
  transition: opacity 0s;
  
}

.card-title .title-link,
.card-title .source-link {
 font-size: 0.7rem;
 display: block;
 padding-left: 5px;
 
}
.card-title .source-link {
  color: #444;
}

.card:hover .photo {
  filter: none;
  transition: filter 0.2s ease-in;
}
.card:hover .card-title {
  opacity: 1;
  transition: opacity 0.3s 0.3s ease-in;
  
}
.card:hover .image-wrap::after {
  opacity: 1;
  transition: opacity 0.3s 0.3s ease-in;
  
}

  







/* Media queries Tablets */

@media (max-width: 768px) {
  .container {
    background: transparent;
  }
  .toggle-links {
    display: none;
  }
  .top-nav .hamburger-menu {
    
    display: block;
    }
    #menu .filter-menu,
    #menu .tag-menu {
      display: none;
    } 
    #menu .main-menu {
      width: 100%;
    }
    #menu .main-menu .menu-title {
      display: none;
    }
    #menu .main-menu .main-nav li:first-child {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    #menu .main-menu .main-nav li:nth-child(n+2) {
      border-bottom: 1px solid #ccc;

    }
    .showcase {
      flex-direction: column;
    }
    .showcase .menu-title,
    .showcase .showcase-content {
      width: 100%;
    }
    .articles {
      max-height: 3300px;
    }
    .articles  .card { 
      width: calc(100% / 2);
      }
      

}